ConvergeTest.UI/Service References/ServiceReferenceCustomer/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCustomer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ConvergeTest.Entities" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ConvergeTest.Common" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ConvergeTest.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCustomer_InsertCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomer" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_InsertCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_GetAddressData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressData" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_GetAddressData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_InsertAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAddress" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomer_InsertAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCustomer">
    <wsdl:operation name="InsertCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCustomer/InsertCustomer" message="tns:IServiceCustomer_InsertCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCustomer/InsertCustomerResponse" message="tns:IServiceCustomer_InsertCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCustomer/UpdateCustomer" message="tns:IServiceCustomer_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCustomer/UpdateCustomerResponse" message="tns:IServiceCustomer_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCustomer/DeleteCustomer" message="tns:IServiceCustomer_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCustomer/DeleteCustomerResponse" message="tns:IServiceCustomer_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCustomer/GetData" message="tns:IServiceCustomer_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCustomer/GetDataResponse" message="tns:IServiceCustomer_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddressData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCustomer/GetAddressData" message="tns:IServiceCustomer_GetAddressData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCustomer/GetAddressDataResponse" message="tns:IServiceCustomer_GetAddressData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCustomer/InsertAddress" message="tns:IServiceCustomer_InsertAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCustomer/InsertAddressResponse" message="tns:IServiceCustomer_InsertAddress_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCustomer" type="tns:IServiceCustomer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertCustomer">
      <soap:operation soapAction="http://tempuri.org/IServiceCustomer/InsertCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/IServiceCustomer/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://tempuri.org/IServiceCustomer/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceCustomer/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressData">
      <soap:operation soapAction="http://tempuri.org/IServiceCustomer/GetAddressData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAddress">
      <soap:operation soapAction="http://tempuri.org/IServiceCustomer/InsertAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCustomer">
    <wsdl:port name="BasicHttpBinding_IServiceCustomer" binding="tns:BasicHttpBinding_IServiceCustomer">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ConvergeTest.Service/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>